.container-checklist-dialog-row-1, .container-checklist-dialog-row-3 {
  margin-bottom: 12px;
  display: flex;
}

.container-miu-dialog-content {
  padding: 16px 24px;
}

.custom-menu-item-selected {
  background-color: #141414;
}

.container-dialog-err {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #E74C3C;
  color: #fff;
  padding: 8px 24px;
  margin-bottom: 20px;
}

.txt-dialog-err {
  flex: 3;
}

.btn-dialog-err-close {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.txt-checklist-name {
  flex: 3;
  padding: 0px 4px;
}

.custom-sel-color-picker {
  flex: 1;
  padding: 0px 4px;
}

.container-checklist-dialog-row-2 {
  margin-bottom: 12px;
  padding: 0px 4px;
}

.txt-checklist-tag {
  flex: 4;
  padding: 0px 4px;
}

.btn-checklist-tag-add {
  display: flex; 
  flex: 1;
  justify-content: flex-end;
  padding: 0px 4px;
}

.container-checklist-tag-list {
  display: flex;
  margin-bottom: 12px;
  padding: 0px 4px;
}

.container-checklist-tag-list-box {
  flex: 1;
  border: solid 1px #CACFD2;
  border-radius: 4px;
  padding: 8px
}

